{% if us_store %}
  {% assign ekg = 'EKG' %}
{% else %}
  {% assign ekg = 'ECG' %}
{% endif %}
<div class="feature-content">
{% if product.handle == 'kardiamobile6l' %}
  <section class="top-bottom">
    <div class="video-cont">
      <video autoplay playsinline muted loop class="km6l-spin-video" id="km6lSpin" poster="https://www.alivecor.com/img/km6l_spin_poster.jpg">
        <source src="https://www.alivecor.com/vids/km6l_spin.mp4" type="video/mp4">
      </video>
    </div>
    <div class="text">
      <p class="bold">Two sensors on top.</p>
      <p class="bold margin">And now, a third on the bottom</p>
      <p>KardiaMobile 6L has two electrodes on the top for your fingers, and one on the bottom to contact the skin of your left leg. KardiaMobile 6L delivers {{ekg}} leads I, II, III, aVL, aVR, and aVF. All without messy gels and wires.</p>
    </div>
  </section>
{% endif %}
<section class="getting-started">
  <section class="getting-started-content">
    <div class="title">
      <h2 class="h1">Getting started is easy.</h2>
    </div>
    <div class="steps">
      <div class="step step-1">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.icon1circle{fill:none;stroke:#6bc1b6;stroke-miterlimit:10;stroke-width:1.71px}.icon1text{isolation:isolate;font-size:18px;fill:#6bc1b6;font-family:Soleil,Soleil}</style></defs><circle class="icon1circle" cx="16" cy="16" r="13.02"/><text class="icon1text" transform="translate(12.54 21.79)">1</text></svg>
        <div class="step-text">
          <h3 class="h3">
            Buy Kardia
          </h3>
          <div class="step1img" title="KardiaMobile device"></div>
        </div>
      </div>
      <div class="step step-2">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.icon2circle{fill:none;stroke:#6bc1b6;stroke-miterlimit:10;stroke-width:1.71px}.icon2text{font-size:18px;fill:#6bc1b6;font-family:Soleil,Soleil}</style></defs><title>Artboard 12@2x</title><circle class="icon2circle" cx="16" cy="16" r="13.02"/><text class="icon2text" transform="translate(11.42 21.79)">2</text></svg>
        <div class="step-text">
          <h3 class="h3">
            Download app
          </h3>
          <div class="step2img" title="Kardia App icon"></div>
          <p>
            <a
              class="teal-underline ga-tracker"
              href="https://itunes.apple.com/app/aliveecg/id579769143"
              target="_blank"
              data-category="Product Page Link"
              data-action="Clicked Kardia App iOS"
              data-label="{{ shop.domain }}/products/{{ product.handle }}"
            >
              Kardia App for iOS
            </a>
          </p>
          <p class="nomarg">
            <a
              class="teal-underline ga-tracker"
              href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"
              target="_blank"
              data-category="Product Page Link"
              data-action="Clicked Kardia App Android"
              data-label="{{ shop.domain }}/products/{{ product.handle }}"
            >
              Kardia App for Android
            </a>
          </p>
        </div>
      </div>
      <div class="step step-3">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><defs><style>.icon3circle{fill:none;stroke:#6bc1b6;stroke-miterlimit:10;stroke-width:1.71px}.icon3text{font-size:18px;fill:#6bc1b6;font-family:Soleil,Soleil}</style></defs><title>Artboard 12@2x</title><circle class="icon3circle" cx="16" cy="16" r="13.02"/><text class="icon3text" transform="translate(11.55 21.79)">3</text></svg>
        <div class="step-text">
          <h3 class="h3">
            Take an instant {{ekg}}
          </h3>
        </div>
        <div class="step3img" title="EKG being taken with the Kardia Mobile and Kardia App"></div>
      </div>
      <div class="step step-4">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32"><style>.icon4st0{fill:none;stroke:#6bc1b6;stroke-width:1.71;stroke-miterlimit:10}.icon4st1{enable-background:new}.icon4st2{fill:#6bc1b6}</style><title>Artboard 12@2x</title><circle class="icon4st0" cx="16" cy="16" r="13"/><g class="icon4st1"><path class="icon4st2" d="M16.6 21.8v-3h-5.4V17c1.5-2 3.7-4.9 5.3-7.1h1.7v7.4H20v1.5h-1.8v3h-1.6zm0-4.5v-5.1c-1.1 1.6-2.7 3.9-3.6 5.1h3.6z"/></g></svg>
        <div class="step-text">
          <h3 class="h3">
            Instant results
          </h3>
        </div>
        <div class="step4img" title="Normal EKG results from Kardia App"></div>
      </div>
    </div>
  </section>
</section>
{% if product.handle != 'kardiamobile' %}
<section class="comparison">
  <section class="comparison-content">
    <h2 class="h1">
      {% if product.handle == 'kardiamobile6l' %}
        6 is better than 1.
      {% else %}
        KardiaMobile vs. KardiaMobile 6L
      {% endif %}
    </h2>
    <div class="devices">
      <div class="km1">
        <h3 class="name">
          KardiaMobile
        </h3>
        <img src="https://www.alivecor.com/img/KM_phone_noHands.jpg" alt="Kardia Mobile paired with an iPhone taking an EKG">
        <ul>
          <li>1-lead {{ekg}}</li>
          <li>Detects AFib, Bradycardia, Tachycardia & Normal heart rhythm</li>
          <li>1-lead {{ekg}} gives your doctor reliable heart health information</li>
        </ul>
        <div class="cta">
          {% if product.handle == 'kardiamobile' %}
            {% include 'product-add-to-cart-2' %}
          {% else %}
            <div class="view-details">
              <a
                href="/products/kardiamobile"
                class="ga-tracker"
                data-category="Product Page Link"
                data-action="Clicked View Details KardiaMobile"
                data-label="{{ shop.domain }}/products/{{ product.handle }}"
              >
                View Details
              </a>
            </div>
          {% endif %}
        </div>
      </div>
      <div class="km6">
        <h3 class="name">
          KardiaMobile 6L
        </h3>
        <img src="https://www.alivecor.com/img/KM6L_phone_noHands.jpg" alt="Kardia Mobile 6L paired with an iPhone taking a 6-lead EKG">
        <ul>
          <li>1-lead {{ekg}} / 6-lead {{ekg}}</li>
          <li>Detects AFib, Bradycardia, Tachycardia & Normal heart rhythm</li>
          <li>6-lead {{ekg}} gives your doctor more detailed heart information</li>
          <li>Provides doctors visibility into certain arrhythmias that are leading indicators of cardiovascular disease</li>
        </ul>
        <div class="cta">
          {% if product.handle == 'kardiamobile' %}
            <div class="view-details">
              <a
                href="/products/kardiamobile6l"
                class="ga-tracker"
                data-category="Product Page Link"
                data-action="Clicked View Details KardiaMobile 6L"
                data-label="{{ shop.domain }}/products/{{ product.handle }}"
              >
                View Details
              </a>
            </div>
          {% else %}
            {% include 'product-add-to-cart-2' %}
          {% endif %}
        </div>
      </div>
    </div>
  </section>
</section>
{% endif %}
</div>