<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{% unless grid_item_width %}
  {% assign grid_item_width = 'large--one-quarter medium--one-half small--one-half' %}
{% endunless %}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
{% assign product_grid_img_id = "product-grid-" | append: product.handle %}

<div class="grid__item {{ grid_item_width }} accessory">

  {% comment %}
    Link to your product with the 'within: collection' filter for the link to be aware of the collection.
    This allows you to create collection-based navigation on the product page.

    Results of using 'within: collection':
    - Instead of a URL with /products/product-handle
      you would get /collections/collection-handle/products/product-handle

    For more info on navigation within a collection
      - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

  {% endcomment %}
  <div class="grid__image">
    <a href="{{ product.url | within: collection }}" id="{{ product_grid_img_id }}">
      <img src="{{ product.featured_image.src | img_url: 'large' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
  </div>

  <p class="h4Title">
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
  </p>
  <p class="h4Price">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
        {{ product.price | money }}
      {% endif %}
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    
 

      <form action="/cart/add" data-productid="{{ product.id }}" method="post" enctype="multipart/form-data" id="{{ product.id }}AddToCartForm" class="form-vertical AddToCartForm">
<!-- Begin ReCharge code -->
{% if product.available %}{% include 'subscription-product' %}{% endif %}
<!-- End ReCharge code -->

        {% if product.variants.size > 1 %}
          <div class="variant-title">
            {%- for option in product.options_with_values -%}
              <span>{{ option.name | escape }}</span>
            {%- endfor -%}
          </div>
          {% for variant in product.variants %}
            {% if variant.available %}
              {% assign add_price = variant.price | minus: product.price %}
              <div class="variant-input-wrapper">
                <input type="radio"
                   id="{{variant.id}}"
                   name="id" data-productid="{{ product.id }}"
                   data-sku="{{variant.sku}}"
                   value="{{variant.id}}"
                   class="variant-input"
                   data-index="{{forloop.index0}}"
                   data-img-url="{{variant.featured_image.src | img_url: 'large'}}"
                   data-img-id="{{ product_grid_img_id }}"
                   {% if forloop.first == true %}
                     checked="true"
                   {% endif %}
                   >
                <label for="{{variant.id}}" class="form-control">
                  {{variant.title}}
                  {% if add_price > 0 %}
                  &nbsp;(add {{add_price | money_with_currency}})
                  {% endif %}
                </label>
              </div>
            {% else %}
              <div class="variant-input-wrapper">
                <input type="radio"
                     class="variant-input"
                     disabled>
                <label class="form-control out-of-stock">
                  {{ variant.title }} ({{ 'products.product.sold_out' | t }})
                </label>
              </div>
            {% endif %}
          {% endfor %}
        {% else %}
          {% comment %}
            for only one variant, need to choose the id to add to cart
          {% endcomment %}
          {% if shop.locale == 'en' %}
            <div class="variant-placeholder {{product.handle}}"></div>
          {% endif %}
          {% for variant in product.variants %}
            <input type="hidden"
               id="{{variant.id}}"
               name="id" data-productid="{{ product.id }}"
               data-sku="{{variant.sku}}"
               value="{{variant.id}}"
               class="variant-input"
               data-index="{{forloop.index0}}"
               {% if forloop.first == true %}
                 checked="true"
               {% endif %}
            >
          {% endfor %}
        {% endif %}
        {% comment %}
          Note: forcing the quantities to be hidden
        {% endcomment %}
        <div class="visually-hidden">
          <input type="number" id="{{product.id}}Quantity" name="quantity" value="1" min="1" class="quantity-selector">
        </div>

        <button type="submit" name="add" id="{{product.id}}AddToCart" class="btn AddToCartAccessories" {% if sold_out %}disabled{% endif %}>
          <span id="AddToCartText">
          {% if sold_out %}
          {{ 'products.product.sold_out' | t }}
          {% endif %}
          {% if sold_out == false %}
          {{ 'products.product.add_to_cart' | t }}
          {% endif %}
          </span>
        </button>
      </form>

      {% unless no_description %}
        <div class="product-description rte" itemprop="description">
          {{product.description}}
        </div>
      {% endunless %}

    {% endif %}

    {% if on_sale %}
      <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
      <br><s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  
  

  </p>

</div>
