<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiaband.dimensions' | t}}</b></li>
    <li>{{ 'tech_specs_kardiaband.product_dims' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiaband.weight' | t }}</b></li>
    <li>{{ 'tech_specs_kardiaband.product_weight' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.power' | t }}</b></li>
    <li>{{ 'tech_specs_kardiaband.power_source' | t }}</li>
    <li>{{ 'tech_specs_kardiaband.battery_life' | t }}</li>
    <li>{{ 'tech_specs_kardiaband.battery_life_typical' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.ekg_characteristics' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.single_lead' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.dynamic_range' | t }}</li>
    <li>{{ 'tech_specs_kardiaband.recording_length' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.sample_rate' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.bit_depth' | t }}</li>
  </ul>
</div>

<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiaband.sizing' | t }}</b></li>
    <li>{{ 'tech_specs_kardiaband.size_spec1' | t }}</li>
  </ul>
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.requirements' | t }}</b></li>
    <li>{{ 'tech_specs_kardiaband.compatible_device' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.kardia_app' | t }}</li>
  </ul>
  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore"></a>
  </div>
  
  <a href="https://www.alivecor.com/quickstart">{{ 'tech_specs_kardiamobile.user_manuals' | t }}</a>

</div>
