<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.dimensions' | t}}</b></li>
    <li>85.6 mm x 54.0 mm x 1.2 mm</li>
    <li>Two 25 mm x 15 mm electrodes</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.weight' | t }}</b></li>
    <li>7.4 grams</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.power' | t }}</b></li>
    <li>Non-replaceable battery</li>
    <li>2 years typical use</li>
  </ul>
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile6l.connection' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile6l.bluetooth' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile6l.range' | t }}</li>
  </ul>
</div>

<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.ekg_characteristics' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.single_lead' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.dynamic_range' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.recording_length' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.sample_rate' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile6l.bit_depth' | t }}</li>
  </ul>
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.requirements' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.compatible_device' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.kardia_app' | t }}</li>
  </ul>
  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore"></a>
    <a class="android-badge" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="{{ 'google-icon.png' | asset_url }}" alt="Android app on Google Play"></a>
  </div>

  <a href="https://www.alivecor.com/quickstart">{{ 'tech_specs_kardiamobile.user_manuals' | t }}</a>
</div>
