<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.dimensions' | t}}</b></li>
    <li>{{ 'tech_specs_kardiamobile.product_dims' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.electrode_dims' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.weight' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.product_weight' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.power' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.power_source' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.battery_life' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.battery_life_typical' | t }}</li>
  </ul>

  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.ekg_characteristics' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.single_lead' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.dynamic_range' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.recording_length' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.sample_rate' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.bit_depth' | t }}</li>
  </ul>
</div>

<div class="grid__item large--one-half tech-specs">
  <ul>
    <li><b>{{ 'tech_specs_kardiamobile.requirements' | t }}</b></li>
    <li>{{ 'tech_specs_kardiamobile.compatible_device' | t }}</li>
    <li>{{ 'tech_specs_kardiamobile.kardia_app' | t }}</li>
  </ul>
  <div class="app-store-badges">
    <a class="itunes-badge" href="https://itunes.apple.com/app/aliveecg/id579769143"><img src="{{ 'apple-icon.png' | asset_url }}" alt="link to AppStore"></a>
    <a class="android-badge" href="https://play.google.com/store/apps/details?id=com.alivecor.aliveecg"><img src="{{ 'google-icon.png' | asset_url }}" alt="Android app on Google Play"></a>
  </div>

  <a href="https://www.alivecor.com/quickstart">{{ 'tech_specs_kardiamobile.user_manuals' | t }}</a>
</div>
