<div class="span12" id="main-content">
  <div id="page-content" class="">

    {% for product in collections.kardiacare.products limit:4 %}
    
    {% if product.handle == 'kardiacare' %}


{% assign kmHowItWorksVideoId = '251698484' %}
{% assign km6lHowItWorksVideoId = '335613884' %}

<div>
  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  <div class="grid product-single">
    <div class="grid__item large--one-half kardiacare-table">
      <div class="mobile-title">
        <h1 class="h2Title product-title" itemprop="name">{{ product.title }}</h1>
        <h2 class="h3 subtitle">Unlock these exclusive features</h2>
      </div>
      <div class="product-single__photos" id="ProductPhoto">
        {% include 'kardiacare-table-us', pageName: 'product' %}
        <img src="{{ product.images[1] | img_url: '1200x1200' }}" alt="" id="ProductPhotoImg" style="display: none;">
      </div>
      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">
          <li class="grid__item one-sixth medium--one-tenth small--one-quarter">
            <a href="" class="kardiacare-table__thumbnail">
              <img src="{{ 'table-thumbnail.png' | asset_img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
          {% for image in product.images %}
            {% if forloop.first != true %}
            <li class="grid__item one-sixth medium--one-tenth small--one-quarter">
              <a href="{{ image.src | img_url: '1200x1200' }}" class="kardiacare-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
            {% endif %}
          {% endfor %}
        </ul>
      {% endif %}
    </div>

    <div class="grid__item large--one-half flex-order">
      <div class="desktop-title">
        <h1 class="h2Title product-title" itemprop="name">{{ product.title }}</h1>
      </div>

      <!-- Price stuff ======================================================== -->
      <span id="ProductPrice" class="h2Price noFloat">
        $99/year
      </span>


      <!-- Add to Cart
      ======================================================== -->
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="kardiaCareBundleAddToCartForm" class="AddToCartForm form-vertical" data-productid="{{product.id}}" onsubmit="addToCartKardiaCare6lBundleEmailPromo(event, this)">

        <div class="kardiacare-products">
          {% assign 1year_price = "$99/year" %}
          {% assign 1year_id = 32194082472001 %}
          {% assign 1year_frequency = "12" %}
          {% capture 1year_label %}
          1-Year Plan ($99/year)
          {% endcapture %}

          <fieldset style="display: none;">
            <div class="form-radio">
              <label for="{{ 1year_id }}">
                <input
                  id="{{ 1year_id }}"
                  name="kardiaCareMembershipLength"
                  type="radio"
                  data-frequency="{{ 1year_frequency }}"
                  data-price="{{ 1year_price }}"
                  class="field radio"
                  value="{{ 1year_id }}"
                  tabindex="1"
                  onchange=""
                  checked="checked"
                  required
                  autocomplete="off"
                 />
                 {{ 1year_label }}
              </label>
            </div>
          </fieldset>
        </div>

        <button
          type="submit"
          name="add"
          id="{{product.id}}AddToCart1"
          class="btn addToCart"
          style="margin: 0;"
         >
          <span id="AddToCartText">
          {{ 'products.product.add_to_cart' | t }}
          </span>
        </button>
        <div style="
          margin-top: 15px;
          float: left;
          font-size: 14px;
          clear: left;
        ">KardiaMobile 6L will automatically be added to your cart. <span id="kc-message"></span></div>
      </form>


      <div class="offer-message-2">
        <div class="offer-title">For a limited time get a free KardiaMobile 6L</nobr> when you join KardiaCare</div>
        {{ 'KM6L_no-bkgd.png' | asset_url | img_tag }}
        <div class="offer-disclaimer" style="margin-top: 0;font-size: 14px;">Discount automatically applied at checkout.<br />Limit one per customer.</div>
      </div>      

      {% comment %}
      <div>
        <!-- Compat link ======================================================== -->
        <div class="compat-link">
          <a href="#compatibility" class="scroll-to-tab">
            See compatibility
          </a>
        </div>
      </div>
      {% endcomment %}

      <!-- Product Description ====================================================== -->
      <div class="product-description rte product mobile-main-product-description" itemprop="description">
        {% comment %}
          Wrap description in a div and add another div into description in admin and use styles to show hide the correct one
        {% endcomment %}
        {{ page.content }}
      </div>
    </div>
    {% comment %}
      If a main product, show description under the image on desktop
    {% endcomment %}
    <div class="grid__item large--one-whole desktop-main-product-description">
      <!-- Product Description ====================================================== -->
      <div class="main-product product-description rte product" itemprop="description">
        {{ page.content }}
      </div>
    </div>
    <div class="grid__item large--one-whole">
      {% include 'kc-feature-highlight' %}
    </div>
  </div>

  {% comment %}
  {% include 'product-tabs' %}
  {% endcomment %}

</div>

{% endif %}

  {% endfor %}
  </div><!-- #page-content -->
</div><!-- #page-container -->

<script type="text/javascript">
  // https://store.alivecor.com/pages/email-promo-kardiamobile6l-with-yearly-kardiacare-membership?type=kardiamobile6l
  $(document).ready(function() {
    var self = window.location.toString();
    var querystring = self.split("?");
    if (querystring.length > 1) {
      var pairs = querystring[1].split("&");
      for (i in pairs) {
        var keyval = pairs[i].split("=");
        if (keyval[0] === 'type' && keyval[1] === 'membership' || keyval[0] === 'type' && keyval[1] === 'membership2') {
          $('#kc-message').text('KardiaMobile 6L only works with a KardiaCare membership.');
        }
      }
    }
  });
</script>