<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% assign product_accessories = collections.kardiamobile6l-accessories %}
{% assign product_name = 'kardiamobile6l' %}
{% assign main_product = true %}


{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}

{% assign km6lHowItWorksVideoId = '335613884' %}
{% assign fsa = false %}
{% for tag in product.tags %}
  {% if product.handle == 'kardiamobile6l' and shop.locale == 'en' and tag == 'oos' %}
    {% assign km-six-oos = true %}
  {% endif %}
  {% if tag == 'lateship' %}
    {% assign lateship = true %}
  {% endif %}
  {% if shop.locale == 'en' and tag == 'fsa' %}
    {% assign fsa = true %}
  {% endif %}
{% endfor%}
{% assign us_store = false %}
{% if shop.domain == 'store.kardia.com' or shop.domain == 'dev-alivecor-us.myshopify.com' %}
  {% assign us_store = true %}
{% endif %}
{% if us_store %}
  {% assign ekg = 'EKG' %}
{% else %}
  {% assign ekg = 'ECG' %}
{% endif %}

<div itemscope itemtype="http://schema.org/Product">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

  {% include 'breadcrumb' %}
  <div class="grid product-single">
    <div class="grid__item large--one-half">
      <div class="mobile-title">
        <h1 class="h2Title product-title" itemprop="name">KardiaMobile 6L with KardiaCare</h1>
        <h2 class="product-subheader desc_below">Device + membership</h2>
      </div>
      <div class="product-single__photos" id="ProductPhoto">
        {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
        {% if product_name == 'omron' %}
          {% assign featured_image = product.images[1] %}
        {% endif %}
        <img src="{{ featured_image | img_url: '600x' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
      </div>
      {% comment %}
        Create thumbnails if we have more than one product image
      {% endcomment %}
      {% if product.images.size > 1 %}
        <ul class="product-single__thumbnails grid-uniform{% if product_name == 'kardiamobile6l' %} km6l-caption{% endif %}" id="ProductThumbs">
          {% for image in product.images %}
            <li class="grid__item one-sixth medium--one-tenth small--one-quarter">
              <a href="{{ image.src | img_url: '800x' }}" class="product-single__thumbnail">
                <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
              </a>
            </li>
          {% endfor %}

          {% comment %} Add How it works video for KM and 6L {% endcomment %}

          <li class="grid__item one-sixth medium--one-tenth small--one-quarter">
            <a class="play-video ga-tracker"
              data-videoid="{{ km6lHowItWorksVideoId }}"
              data-category="Video"
              data-action="KardiaMobile 6L How it works"
              data-label="/products/{{ handle }}">
              <img src="{{ 'KM_video.jpg' | asset_img_url: 'compact' }}" alt="See how KardiaMobile6L Works">
            </a>
          </li>
        </ul>
      {% endif %}
    </div>

    <div class="grid__item large--one-half {% if shop.domain != 'shop.de.alivecor.com' %}flex-order{% endif %}">
      <div class="review-count" style="margin: 0 0 12px;">
        {% comment %}
        <!-- /snippets/bv-summary.liquid --> <!-- Bazaarvoice Summary Container -->
        {% endcomment %}
        <div data-bv-show="rating_summary" data-bv-productId="{{product.id}}">
        {% if product.metafields.bazaarvoice.reviews-aggregate-ratings %}
          {{ product.metafields.bazaarvoice.reviews-aggregate-ratings }}
        {% endif %}
        </div>
        {% comment %}
        <!-- End Bazaarvoice Summary Container --> {% endcomment %}
      </div>
        <div class="desktop-title">
        <h1 class="h2Title product-title" itemprop="name">KardiaMobile 6L with KardiaCare</h1>
        <h2 class="product-subheader desc_below">Device + membership</h2>
      </div>

      {% comment %}
      <!-- Price stuff ======================================================== -->
      {% if product.compare_at_price_max > product.price %}
        <div>
          <span id="ProductPrice" class="h2Price red">
            {{ product.price | money }}
          </span>
          <span class="strikeout">
          {{ current_variant.compare_at_price | money }}
          </span>
        </div>
      {% else %}
        <span id="ProductPrice" class="h2Price noFloat">
          {{ product.price | money }}
        </span>
      {% endif %}
      {% endcomment %}

      <!-- Add to Cart
      ======================================================== -->
      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ product.price | money_without_currency }}">
        <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      {% comment %}
        If there are variants, show the user a variant title
      {% if product.variants.size > 1 %}
      <div class="h3">{{product.options.first | escape}}</div>
      {% endif %}
      {% endcomment %}

      {% comment %}
        For FSA eligible items -- tagged 'fsa'
      
      {% if fsa %}
        {% include 'hsa-fsa-badge' %}
      {% endif %}
      {% endcomment %}

      {% include 'kc-6l-add-to-cart' %}
      </div>

      {% if shop.locale != 'en' %}
        <div class="eu-guarantee">
          {{ 'main_product.guarantee' | t }}<br>
          {{ 'main_product.warranty_2years' | t }}
          {% if shop.domain contains '.co.uk' %}
            <!-- Shipping details modal for GB store -->
            <div class="shipping-options-cont">
              <a class="shipping-options" href="#">Shipping options</a>
            </div>
          {% endif %}
        </div>
      {% endif %}
      

      <div>

        <div class="price-disclaimer">Price includes a KardiaMobile 6L device and membership. Your membership will automatically be renewed and you will be charged <span id="kc-auto-charge-price">$9.99 each month</span>.</div>

      </div>

      <!-- Product Description ====================================================== -->
      <div class="product-description rte product{% if main_product %} mobile-main-product-description{% endif %}" itemprop="description">
        {% comment %}
          Wrap description in a div and add another div into description in admin and use styles to show hide the correct one
        {% endcomment %}
        {{ product.description }}
      </div>
    </div>
    {% comment %}
      If a main product, show description under the image on desktop
    {% endcomment %}
    {% if main_product %}
    <div class="grid__item large--one-whole desktop-main-product-description">
      <!-- Product Description ====================================================== -->
      <div class="main-product product-description rte product" itemprop="description">
        {{ product.description }}
      </div>
    </div>
    {% endif %}
  </div>

  <section>
    <div class="discover-kardiacare">
      <h3>Discover the best in at-home heart care.</h3>
      <p>From cardiologist EKG reviews to custom summary reports, our KardiaCare membership gives you personalized insights on your heart health that allow you to track your heart activity over time and may even help you identify symptoms and triggers. KardiaCare members enjoy these features:</p>
      <ul>
        <li>Unlimited EKGs</li>
        <li>EKG storage on your phone</li>
        <li>Weight and blood pressure monitoring</li>
        <li>Advanced Determinations</li>
        <li>Cardiologist EKG Reviews*</li>
        <li>Heart Health Summary Report </li>
        <li>Automatic EKG Sharing</li>
        <li>Medication Tracking</li>
        <li>Cloud Storage and Security</li>
        <li>Device Replacement*</li>
      </ul>
      <p class="small">These features are included with KardiaCare.</p>
    </div>
  </section>

  <section>
    <div class="feature-content">
      <section class="top-bottom">
        <div class="video-cont">
          <video autoplay playsinline muted loop class="km6l-spin-video" id="km6lSpin" poster="https://www.kardia.com/img/km6l_spin_poster.jpg">
            <source src="https://www.kardia.com/vids/km6l_spin.mp4" type="video/mp4">
          </video>
        </div>
        <div class="text">
          <p class="bold margin">Pocket the smartest, most advanced personal {{ ekg }}</p>
          <p>KardiaMobile 6L has two electrodes on the top for your fingers, and one on the bottom to contact the skin of your left leg and record a six-lead {{ ekg }}. KardiaMobile 6L delivers {{ ekg }} leads I, II, III, aVL, aVR, and aVF. All without messy gels and wires.</p>
        </div>
      </section>
    </div>
  </section>

  <div class="cool-stuff">
    {% if shop.locale == 'en' %}
      {% include 'benefit-icons-product' %}
    {% else %}
      {% if shop.domain contains '.co.uk' %}
        {% include 'benefits-review-uk' %}
      {% endif %}
    {% endif %}
  </div>

  {% include 'product-tabs' %}

  {% if product_accessories.products.length > 0 %}
    <div class="section">
      <a name="accessories"></a>
      <h3>{{ 'homepage.sections.frontpage_title' | t }}</h3>
    </div>

    <div class="grid-uniform product-accessories">

      {% comment %}
        Loop through products in your KardiaMobile accessories collection.
        This collection is created by default, but you must add products to it.
      {% endcomment %}
      {% for product in product_accessories.products limit:6 %}
        {% comment %}
          Change the grid item width by using classes from the grid in
          the grid_item_width variable.
        {% endcomment %}
        {% if product_accessories.products.length <= 3 %}
          {% assign grid_item_width = 'large--one-third medium--one-half' %}
        {% else %}
        {% assign grid_item_width = 'large--one-quarter medium--one-half' %}
        {% endif %}
        {% include 'home-grid-item' %}
      {% endfor %}

    </div>
  {% endif %}
</div>

<!-- DataLayer pushes -->
<script type="text/javascript">
  dataLayer.push({
    productId: '{{ product.id }}'
  });

  $(document).ready(function() {
    $('#read-more-6l-review').on('click', function() {
      $('.complete-6l-review').toggle();
      if ($(this).text() === 'Read more') {
        $(this).text('Read less');
        $(this).data('action', 'Clicked Read Less');
      } else {
        $(this).text('Read more');
        $(this).data('action', 'Clicked Read More');
      }
    })
  });
</script>